.register_form {
    width: 400px;
    height: 600px;
    background: rgba(53, 41, 97, 0.6);
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px
}

.register_form__button {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}
