html, body {
    margin: 0;
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    font-weight: 400;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
    height: 45px;
    width: 160px;
    background-color: gold;
    border: none;
    font-size: 18px;
    border-radius: 10px;
}

button:hover {
    background-color: #f1ad64;
}

.MuiSvgIcon-root {
    color: #00AAFF;
}

.MuiPaginationItem-page {
    color: white !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    color: white !important;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
    color: white !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    color: white !important;
}